<footer class=" p-2 flex-shrink-0 ">
    <div class="container custom__container py-4">
        <div>
            <h2 class="social__heading">Soicals</h2>
        </div>
        <div class="row gy-4 gx-5 custom__row">
            <span>
               <a href="" target="_blank">
                 <i class="fa-brands fa-facebook-f"></i>
               </a>
            </span>
            <span>
               <a href="" target="_blank">
                 <i class="fa-brands fa-whatsapp"></i>
               </a>
            </span>
            <span>
                <a href="" target="_blank">
                    <i class="fa-brands fa-reddit-alien"></i>
                </a>
            </span>
            <span>
               <a href="" target="_blank">
                 <i class="fa-brands fa-linkedin-in"></i>
               </a>
            </span>
            <span>
               <a href="" target="_blank">
                 <i class="fa-brands fa-github"></i>
               </a>
            </span>
        </div>
        <div>
            <p class="copy__right">All Right Reserved &#169; Animesh Maity 2023.</p>
        </div>
    </div>
</footer>
