  <!-- Top pagination -->
  <section class="custom__pagination my-3">
    <pagination-controls (pageChange)="startLinkIndex = $event"></pagination-controls>
  </section>
  <!-- Top pagination -->
  
   <!-- Card Container Start ------------ -->
  <section
    class="my-2 d-flex justify-content-center align-items-center h-100 min-vh-100"
  >
    <div class="container-fluid">
      <div class="row gy-2">
        <div class="col-lg-12 col-md-12 my-3" *ngFor="let arr of cards_Data_Arr | search_Pipe : recive_from_nav  | paginate:{
          itemsPerPage:3, currentPage:startLinkIndex, totalItems:totalCardRows
        }">
  
        <!-- Card section start  -->
          <div class="box h-100  d-flex p-4 flex-column custom__box">
              <h5 class="card-title">{{arr.redit_title}}</h5>
              <div  [innerHTML]="arr.redit_selftext_html ? arr.redit_selftext_html : 'No content Present' " class="card_selfText_Html p-3" ></div>
             <div class="card__lower mt-auto">
              <a [href]="arr.redit_url" target="_blank" class="btn btn__custom">Open Me</a>
              <p  class="card__score  mt-auto">{{arr.redit_score < 10 ? '0'+arr.redit_score:arr.redit_score}}</p>
             </div>
          </div>
        <!-- Card section End  -->
          
        </div>
      </div>
    </div>
    <!-- ==>.{{recive_from_nav}} -->
  </section>
   <!-- Card Container End ------------ -->

  
  <!-- Bottom pagination -->
  <section class="custom__pagination my-3">
  <pagination-controls (pageChange)="startLinkIndex = $event"></pagination-controls>
  </section>
  <!-- Bottom pagination -->
